* {
    box-sizing: border-box;
    font-family: 'Cantarell', sans-serif;
}
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #222;
            margin: 0;
            color: #aaa;
        }

        .player-container {
            background-color: #333;
            font-size: 14px;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            width: 320px;
        }

        h2 {
            margin-bottom: 20px;
            font-size: 24px;
            color: #aaa;
        }

        audio {
            width: 100%;
            margin: 10px 0;
            outline: none;
            display: none;
        }

        .speed-control, .pitch-control, .file-info {
            margin-top: 20px;
            text-align: left;
            display: none;
        }

        .speed-control label, .pitch-control label, .file-info label {
            display: block;
            margin-bottom: 10px;
            font-size: 14px;
            color: #aaa;
        }

        .speed-control input[type="range"] {
            width: 100%;
            cursor: pointer;
        }

        #speedValue {
            color: #3498db;
        }

        .file-input {
            margin-top: 20px;
        }

        .file-input input[type="file"] {
            display: none;
        }

        .file-input label {
            display: inline-block;
            padding: 5px 15px;
            background-color: #3498db;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .file-input label:hover {
            background-color: #2980b9;
        }

        .file-info label {
            font-size: 11px;
            color: #888;
            word-wrap: break-word; 
        }
